{% extends 'navbar.html' %}

{% block content %}
<h1 align="center">Patient Details</h1>
<table align="center" border="2" width="400px">
  <tr>
    <th>Id</th>
    <th>name</th>
    <th>age</th>
    <th>city</th>
    <th>disease</th>
  </tr>
  {% for i in data %}
    <tr>
      <td>{{ i.id }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.age }}</td>
      <td>{{ i.city }}</td>
      <td>{{ i.disease }}</td>
      <td><a href="{% url 'update' i.id %}">Update</a></td>
      <td><a href="{% url 'delete' i.id %}">Delete</a></td>
    </tr>
  {% endfor %}
</table>

{% endblock %}