{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="{% static 'css/register.css' %}" rel="stylesheet">
</head>
<body>
<h2 align="center">Register Page</h2>
<form action="regdata" method="post">
    {% csrf_token %}
    <table  align="center">
        <tr>
            <td align="right">Username:</td>
            <td>
                <input type="text" name="txtName" placeholder="enter username">
            </td>
        </tr>
        <tr>
            <td align="right">Email:</td>
            <td>
                <input type="email" name="txtMail" placeholder="enter email">
            </td>
        </tr>
        <tr>
            <td align="right">Password:</td>
            <td>
                <input type="text" name="txtPswd" placeholder="enter password">
            </td>
        </tr>
        <tr>
            <td colspan="3" align="center">
                <input type="submit" name="btnsub" value="register">
            </td>
        </tr>
    </table>
</form>
</body>
</html>